div.studentinfo {
	position: relative;
    top: 0;
    color: #000;
    height: 100%;
    display: grid;
	grid-template-columns: 370px 1fr;
	grid-template-rows: 1fr 50px;
	grid-column-gap: 0px;
	grid-row-gap: 0px;

	margin-top: 50px;
    height: calc(100% - 50px);
}

div.studentinfo .div1 { grid-area: 1 / 1 / 2 / 2; padding-right: 20px; } /* topleft */
div.studentinfo .div2 { grid-area: 2 / 1 / 3 / 2; } /* btmleft */
div.studentinfo .div3 { grid-area: 1 / 2 / 2 / 3; } /* topright */
div.studentinfo .div4 { grid-area: 2 / 2 / 3 / 3; } /* btmright */

div.studentinfo .name {
	font-size: 28px;
    line-height: 100%;
}

div.studentinfo a.projectlink {
	color: #000;
    border: 2px solid #111;
    border-radius: 50px;
    text-decoration: none;
    padding: 7px 15px 1px 15px;
    width: 310px;
    display: inline-block;
}
div.studentinfo a.projectlink:hover {
	color: #fff;
	background-color: #000;
}

div.studentinfo .projectimage {
	/*border: 1px solid #F00;*/
}

div.studentinfo .projectimage > img {
	width: 100%;
	display: block;
}

#overlay .copytext {
	max-width: 800px;
	padding-right: 20px;
}

#overlay .copytext a:link {
	color:#fff;
	text-decoration:underline;
}
#overlay .copytext a:visited {
	color:#fff;
	text-decoration:underline;
}