div.studentinfo {
	position: relative;
    top: 0;
    color: #000;
    height: 100%;
    display: grid;
	grid-template-columns: 370px 1fr;
	grid-template-rows: 1fr 50px;
	grid-column-gap: 0px;
	grid-row-gap: 0px;

	margin-top: 50px;
    height: calc(100% - 50px);
}

/* topleft (meta) */
div.studentinfo .div1 {
	padding-right: 20px;
	position: relative;
	width: 250px;
} 


/* btmleft (project-link btn) */
div.studentinfo .div2 {
	position: absolute;
	width: 250px;
	bottom: 10px;
} 

/* topright (image) */
div.studentinfo .div3 { 
	position: absolute;
    left: 310px;
    width: calc(100% - 320px);
    height: calc(100% - 10px);
    top: 0;
    background-repeat: no-repeat;
    background-size: contain;
} 

div.studentinfo .name {
	font-size: 28px;
    line-height: 100%;
}

div.studentinfo a.projectlink {
	color: #000;
    border: 2px solid #111;
    border-radius: 50px;
    text-decoration: none;
    padding: 7px 15px 1px 15px;
    width: 100%;
    background-color: #fff;
    display: inline-block;
}
div.studentinfo a.projectlink:hover {
	color: #fff;
	background-color: #000;
}



#overlay .copytext {
	max-width: 800px;
	padding-right: 20px;
}

#overlay .copytext a:link {
	color:#fff;
	text-decoration:underline;
}
#overlay .copytext a:visited {
	color:#fff;
	text-decoration:underline;
}