html, body {
	margin: 0;
	padding: 0;
	overflow: hidden;

	background: #000;
	color: #fff;

	font: 13px/1.65em "Univers LT W02 55 Roman", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
}

h1,h2,h3,h4,h5,h6 {
	font-family: "Univers LT W02 67 Bold Cn";
	font-weight: 700;
}


a {
	pointer-events: all;
}



#logo {
	position: absolute;
	top: 0;
	left: 30px;
	z-index: 500;
	mix-blend-mode: difference;
	font-size: 48px;
	line-height: 100%;
	padding-top: 35px;
	width: 10px;
	color: #fff;
	text-decoration: none;
}

#animation {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
	display: block;
}

#overlay {
	position: absolute;
    top: 0;
    left: 0;
    right: 280px;
    bottom: 0;
    z-index: 100;
    padding: 30px;
    padding-right: 0;
    padding-top: 85px;
    pointer-events: none;
    display: block;
}

#sidebar {
	position: absolute;
	padding: 20px;
	top: 20px;
	right: 20px;
	bottom: 20px;
	z-index: 1000;
	width: 200px;
	background: #fff;
	border-radius: 9px;
	user-select: none;
	display: none;
	overflow:hidden;
	box-shadow: inset 0 0 1px 0px black;
}


/**/

#curtain {
	position: absolute;
	background-color: #fff;
	opacity: 0;
	pointer-events: none;
	

	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	
	z-index: 100;
	transition: all 0.75s;
	/*transition-delay: 0.5s;*/

	/* as circle:
	top: 50vh;
    left: 50vw;
    
	width: calc( max(100vw, 100vh) * 2);
    height: calc( max(100vw, 100vh) * 2);

    margin-left: calc( max(100vw, 100vh) * -1);
    margin-top: calc( max(100vw, 100vh) * -1);
    

	display: block;
	border-radius: 100%;
	*/
}
#curtain.hide {
	/*width: 10vw;
    height: 10vw;
    margin-left: -5vw;
    margin-top: -5vh;
    background-color: #fff;*/
    opacity: 0;
    background-color: #fff;
}
#curtain.show {
	/*width: calc( max(100vw, 100vh) * 2);
    height: calc( max(100vw, 100vh) * 2);

    margin-left: calc( max(100vw, 100vh) * -1);
    margin-top: calc( max(100vw, 100vh) * -1);

    background-color: #fff;*/
    opacity: 1;
    background-color: #fff;
}

#curtain.black {
	background-color: #000000;
	opacity: 0.75;
}

#content {
	top: 130px;
    position: relative;
    width: 100%;
    height: calc(100% - 130px);
    z-index: 10;
    transition: opacity 0.75s;
    font-size: 18px;
}
#content.hide {
	opacity: 0;
}
#content.show {
	opacity: 1;
}


#content a.student {
	color: #000;
    border: 1px solid #111;
    border-radius: 50px;
    text-decoration: none;
    padding: 7px 15px 4px 15px;
    display: inline-block;
    background-color: #fff;
    text-transform: uppercase;
    margin: 2px;
}

#content a.student:hover {
	color: #fff;
	background-color: #000;
	border: 1px solid #fff;
}

#content a.student .selectedHilite {
	background: #f00;
}

#content a.student .highlight {
	background: #FF0;
	color: #000;
}

#content a.student.hide {
	/*opacity: 0.2;*/
	/*animation: hidestudent 2s;*/
	animation-fill-mode: forwards;
}

@keyframes hidestudent {
	0%  {
		opacity: 1;
	}
	99% {
		opacity: 0;
	}
	100% {
		display: none;
		/*opacity: 0;
		padding: 0;
	    margin: 0;
	    width: 0;
		height: 0;
		border: none;*/
		position: absolute;
		left: -1000px;
	}
}


